/* Estilos generales */
body {
  background-color: #f4f4f4; /* Color de fondo diferente */
  margin: 0;
  padding: 0;
  color: #444; /* Color de texto más oscuro */
  font-family: 'Montserrat', sans-serif; /* Usar Montserrat */
}

h1,
h3 {
  text-align: center;
  color: #2c3e50; /* Color de texto para los títulos */
}

header {
  background-color: #007acc; /* Color de fondo del encabezado */
  padding: 20px;
  text-align: center;
}

header h1 {
  color: #ffffff; /* Color del título en el encabezado */
  font-size: 28px; /* Aumento en el tamaño del texto */
}

/* Navegación */
#paginas nav a,
nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px; /* Mayor margen para separación */
  font-weight: bold;
  padding: 12px 25px; /* Tamaño de padding mayor */
  background-color: #005f99; /* Color de fondo diferente */
  border-radius: 8px; /* Esquinas más redondeadas */
}

nav a:hover,
#paginas nav a:hover {
  background-color: #003d66; /* Color de fondo al pasar el mouse */
  text-decoration: underline; /* Subrayado al pasar el mouse */
}

/* Tablas */
table {
  width: 90%; /* Ampliación del ancho de la tabla */
  margin: 20px auto;
  border-spacing: 15px; /* Espaciado entre celdas */
}

table td {
  vertical-align: top;
  padding: 25px; /* Mayor padding */
}

table td img {
  width: 100%;
  max-width: 350px; /* Tamaño de imagen para mayor claridad */
  border-radius: 15px; /* Esquinas más redondeadas */
}

/* Botón */
button {
  padding: 12px 25px; /* Tamaño de padding mayor */
  font-size: 18px; /* Aumento en el tamaño del texto */
  background-color: #ff5733; /* Color de fondo diferente */
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #c70039; /* Color de fondo al pasar el mouse */
}

/* Contenedor de contraseña */
.password-container {
  margin-top: 20px;
  display: none;
  text-align: center;
}

input[type="password"] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

input[type="password"]:focus {
  border-color: #007acc; /* Color de borde al enfocar */
  outline: none;
}

/* Específicos */
code {
  background-color: #eaeaea; /* Fondo más claro para el código */
  padding: 3px 8px; /* Padding ajustado */
  border-radius: 4px;
  color: #c7254e;
}

footer {
  background-color: #003d66; /* Color de fondo del pie de página */
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9em;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer a {
  color: #ffc107; /* Color del enlace */
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}
