body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
h1,
h3,
h4,
h5 {
  color: #333;
}
header {
  background-color: #2c3e50;
  padding: 15px;
  text-align: center;
}
header h1 {
  color: #fff;
  font-size: 26px;
}
#paginas nav a,
nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  padding: 10px 20px;
  background-color: #34495e;
  border-radius: 5px;
}
#paginas nav a:hover,
nav a:hover {
  background-color: #2c3e50;
  text-decoration: underline;
}
h4 {
  text-align: center;
  font-size: 18px;
  color: #555;
}
h3 {
  font-size: 22px;
  margin-left: 20px;
}
#lista_git,
#explica {
  margin: 20px auto;
  width: 80%;
}
#lista_git ul,
ul#out {
  list-style: none;
  padding: 0;
}
#lista_git li {
  margin-bottom: 15px;
}
#lista_git li h5 {
  font-size: 18px;
  color: #4caf50;
}
#lista_git li p,
ul#out li {
  font-size: 16px;
  color: #555;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
table td {
  padding: 15px;
  vertical-align: top;
}
#explica td img,
#git_workflow {
  width: 100%;
  max-width: 400px;
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 10px;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9em;
  position: relative;
  bottom: 0;
  width: 100%;
}
footer p {
  margin: 5px 0;
}
footer a {
  color: #ffc107;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}
#codigo_ej {
  margin-left: -5%;
}